<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>聊天室</title>
    <script src="https://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    #message{
        width: 50%;
        height: 500px;
        border: 1px solid black;
        background-color: darkgray;

    }

    #inputVal{
        width: 50%;
    }
    input{
        width: 92%;
    }
</style>
<body  ms-controller="remodel" method="post">
<select name="room" id="roomId">
    <option value="room1" selected = "selected" >room1</option>
    <option value="room2">room2</option>
    <option value="room3">room3</option>
    <option value="room4">room4</option>
    <option value="room5">room5</option>
</select>
<button id="conf" type="submit" onclick="confirm()" >确认</button>
<div id="message">
</div>
<div id="iphone">
        <form id="box" class="navbar-form navbar-right"  action="/message/send" method="post">
            <input id="inp" type="text" name="input">
            <button id="btn" type="submit" ms-click="@request">发送</button>
        </form>
</div>
<script type="text/javascript">
var remodel = avalon.define({
    //id必须和页面上定义的ms-controller名字相同，否则无法控制页面
    $id: "ajaxTestController",
    text: " ",
    request: function () {
        $.ajax({
            type: "post",
            url: "/message/send",    //向springboot请求数据的url
            data: {},
            success: function (data) {
                 document.getElementById("message").innerHTML+=data.msg+"</br>";
            }
        });
    }
});

function confirm(){
   var  obj=document.getElementById( 'roomId' );
   var  index=obj.selectedIndex;  //序号，取当前选中选项的序号
   obj[index].selected=true;
   var result=obj[index].value;
   $.ajax({
            url: "/message/getResult", //提价的路径
            type: "post",       //提交方式
            data:  {'result':result},
            dataType: "JSON",       //规定请求成功后返回的数据
            success: function (data) {
                //请求成功之后进入该方法，data为成功后返回的数据
            },
            error: function (errorMsg) {
                //请求失败之后进入该方法，errorMsg为失败后返回的错误信息
            }
        });
}

</script>
</body>
</html>
