<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>聊天室</title>
    <script src="https://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    #message{
        width: 50%;
        height: 500px;
        border: 1px solid black;
        background-color: darkgray;

    }
    #inputVal{
        width: 50%;
    }
    input{
        width: 92%;
    }
</style>
<body  method="post">
<select name="room" id="roomId" placeholder="请选择房间" method="post">
    <option value="room1">room1</option>
    <option value="room2">room2</option>
    <option value="room3">room3</option>
    <option value="room4">room4</option>
    <option value="room5">room5</option>
</select>
<button id="conf" type="submit" onclick="confirm()" >确认</button>
<div id="message">

</div>
<div id="iphone">
        <form id="box" class="navbar-form navbar-right"  method="post">
            <input id="inp" type="text" name="input">
            <button id="btn" type="submit" onclick="sendMessage()">发送</button>
        </form>
</div>
<div >
    <form  class="navbar-form navbar-right"   method="post">
        <input id="file" type="file" name="input">
        <button id="btn2" type="submit" onclick="sendFile()">发送</button>
    </form>
</div>
<script type="text/javascript">
$
function sendFile(){
  var formData = new FormData();
formData.append("file",document.getElementById("file").files[0]);
  $.ajax({
        url:"/message/sendFile",
        type: "post",
        data:formData,
        dataType: "JSON",
        processData: false, // 告诉jQuery不要去处理发送的数据
        contentType: false, //
        success:function(data){

        }
    });
}
function sendMessage(){
  var message=document.getElementById( 'inp' ).value;
  $.ajax({
        url:"/message/send",
        type: "post",
        data:  {'message':message},
        dataType: "JSON",
        success:function(data){
           if(data.msg=="ok")
             getMessage();
        }
    });
}

function getMessage(){
  $.ajax({
        url:'/message/receive',
        success:function(data){
              document.getElementById("message").innerHTML+=data+"</br>";
        }
    });
}

setTimeout("getMessage()",0);

function confirm(){
   var  obj=document.getElementById( 'roomId' );
   var  index=obj.selectedIndex;  //序号，取当前选中选项的序号
   obj[index].selected=true;
   var result=obj[index].value;
    $.ajax({
            url: "/message/getResult", //提价的路径
            type: "post",       //提交方式
            data:  {'result':result},
            dataType: "JSON",       //规定请求成功后返回的数据
            success: function (data) {
                //请求成功之后进入该方法，data为成功后返回的数据
                if(data.msg=="ok")
                alert("成功加入聊天室:"+result);
            },
            error: function (errorMsg) {
                //请求失败之后进入该方法，errorMsg为失败后返回的错误信息
            }
        });
}

</script>
</body>
</html>
